@media screen and (max-width: 993px){
    .dashboard{ width: 100%; }
    .admin-promo-users{ width: 49% !important; }
    .admin-user, .admin-project, .admin-promotion,
    .admin-help, .admin-correction{ display: none !important; }
    .admin-user-responsive, .admin-project-responsive, .admin-promotion-responsive,
    .admin-help-responsive, .admin-correction-responsive { display: block; }
    .add_users_promotion_users-collection-actions{ display: none; }
}

@media screen and (max-width: 769px){
    .user-notif{ width: 300px; }
    .admin-main{ padding: 0 !important; }
    [class^="messages-"]{ width: 75%!important; }
    .admin-user-weather, .admin-user-files{ width: 100% !important; }
}

@media screen and (max-width: 577px){
    .main      { width: 80%; }
    .user-notif{ right: 10px; bottom: 80px; }
    .user-nav  { right: 10px; bottom: 10px; }
    .nav-left  { width: 300px; margin-left: -300px; }
    .dropdown-menu               { margin-right: 50px; }
    .nav-left-button.active      { margin-left: 300px; }
    .main-section, .admin-section{ width: 95%; }
    .admin-uskill, .role, .admin-project-users,
    .admin-help-language{ display: none !important; }
    .admin-promo-users, .edit-skill-label, .modal-correction,
    .users-weather, [class^="messages-"]{ width: 100% !important; }
}
