@media (prefers-reduced-motion: reduce){
    .reveal{
        opacity: 1;
        transform: translateY(-30px);
    }
}

@media screen and (max-width: 993px){
    /*************** User ***************/
    .user          { padding: 0; grid-template-columns: 210px 175px auto; }
    .user-header   { grid-area: 1 / 1 / 1 / 4; }
    .user-info     { grid-area: 2 / 1 / 3 / 2; }
    .user-projects { grid-area: 2 / 2 / 3 / 4; }
    .user-files    { grid-area: 3 / 3 / 4 / 3; }
    .user-trainings{ grid-area: 3 / 1 / 5 / 3; }
    .user-weather  { grid-area: 4 / 3 / 5 / 3; }
    .user-skills   { grid-area: 5 / 1 / 6 / 4; }
    .user-datas    { grid-area: 6 / 4 / 7 / 1; }
    .user-portfolio{ grid-area: 7 / 4 / 8 / 1; }
    /*************** Task ***************/
    #modal-add-task .modal-dialog{ max-width: 75%; }
    .task_subtasks-collection-actions, .edit_task_subtasks-collection-actions{ display: none; }
    .custom-control, .custom-switch{ padding: 0; }
}

@media screen and (max-width: 769px){
    /*************** Main ***************/
    [class^="messages-"]{ width: 75%!important; }
    .user-notif{ width: 300px; }
    /*************** Project ***************/
    .project{ padding: 0 !important;}
    .project-container{ width: 100%; }
    .project-detail{ width: 100% !important; }
    .project-detail-user{ width: 100% !important; }
    /*************** Promotion ***************/
    .all-promo, .promo-users{ width: 48%; }
    /*************** Files ***************/
    .show-files{ flex-wrap: wrap; }
    .form-files { width: 100%; }
    .received-files { width: 100%; margin-bottom: .75rem; margin-right: 0px; }
    /*************** User ***************/
    .user{ grid-template-columns: 50%; }
    .user-header    { grid-area: 1 / 1 / 1 / 3; }
    .user-info      { grid-area: 2 / 1 / 2 / 3; }
    .user-files     { grid-area: 3 / 1 / 3 / 2; }
    .user-weather   { grid-area: 3 / 2 / 3 / 3; }
    .user-projects  { grid-area: 4 / 1 / 4 / 3; }
    .user-skills    { grid-area: 5 / 1 / 5 / 3; }
    .user-trainings { grid-area: 6 / 1 / 6 / 3; }
    .user-datas     { grid-area: 7 / 1 / 7 / 3; }
    .user-portfolio { grid-area: 8 / 1 / 8 / 3; }
    .user-secondary-info{ text-align: center; }
    .user hr{ display: block !important; }
    /*************** Task ***************/
    .task-info{ width: 100% !important; }
    .task-subtask{ width: 100% !important; }
    .task-icon{ display: none; }
}

@media screen and (max-width: 577px){
    /*************** Base ***************/
    .button-edit{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
    }
    /*************** Main ***************/
    [class^="messages-"]{ width: 100%!important; }
    .user-notif{ right: 10px; bottom: 80px; }
    .user-nav{ right: 10px; bottom: 10px; }
    .main{ width: 80%; }
    .nav-left{ width: 300px; margin-left: -300px; }
    .nav-left-button.active{ margin-left: 300px; }
    /*************** Project ***************/
    .project-title h1{
        font-size: 1.3em !important;
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .project-description{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    /*************** Promotion ***************/
    .all-promo, .promo-users{ width: 100%; }
    /*************** Files ***************/
    /*************** User ***************/
    .user{ grid-template-columns: 100%; }
    .user-header    { grid-area: 1 / 1 / 1 / 2; }
    .user-info      { grid-area: 2 / 1 / 2 / 2; }
    .user-files     { grid-area: 3 / 1 / 3 / 2; }
    .user-weather   { grid-area: 4 / 1 / 4 / 2; }
    .user-projects  { grid-area: 5 / 1 / 5 / 2; }
    .user-skills    { grid-area: 6 / 1 / 6 / 2; }
    .user-trainings { grid-area: 7 / 1 / 7 / 2; }
    .user-datas     { grid-area: 8 / 1 / 8 / 2; }
    .user-portfolio { grid-area: 9 / 1 / 9 / 2; }
    .user-header{ flex-wrap: wrap; }
    .user-header .user-edit{ display: none; }
    /*************** Task ***************/
    .modal-dialog{ max-width: 100% !important; }
    .custom-control, .custom-switch{ padding-left: 10px; }
    .task-container{ flex-wrap: wrap; }
    #task-users { -ms-flex-pack: start!important; justify-content: start!important; width: 65%; }
    #task-sub { width: auto; margin: 0 .5rem; }
}