@media screen and (max-width: 993px){
    .order-md        { order: -1; }
    .learn-section   { width: 48%; }
    .simplon-info img{ height: 150px; width: 150px;}
}

@media screen and (max-width: 769px){
    section          { padding: 0 !important;}
    .main            { padding: 3rem 1.5rem !important; }
    .social          { display: none; }
    .user-title      { width: 65%; }
    .hire-detail     { width: 100% !important; }
    .charleville     { font-size: .5em !important; }
    .simplon-info    { margin: 1.5rem 0; }
    .main-section p  { font-size: 1.2em!important; }
    .simplon-info img{ height: 150px; width: 150px;}
    .project-content, .all-promo, .promo-users{ width: 48% !important; }
}

@media screen and (max-width: 650px){
    .charleville{ display: none; }
}

@media screen and (max-width: 577px){
    .header-title  { font-size: 1.8em !important;}
    .inscription h3{ display: none;}
    .home-nav, .user-card, .header { padding: 0 !important; }
    .user-title, .main, .inscription p, .user-card{ width: 100% !important; }
    .project-content, .all-promo, .promo-users, .learn-section{ width: 90% !important; }
}