<div class="text-center">
    <div class="text-center my-5">
        <h4 class="home-title"><span class="bg-white px-3">Liste des briefs de la formation</span></h4>
        <h4 class="d-none home-title-mq">Liste des briefs de la formation</h4>
    </div>
    <div class="flex wrap just-around">
    {% for brief in briefs %}
        <a href="{{path('brief_show',{'slug':brief.slug})}}" class="container-white shadow-small flexc rhover just-center align-center my-2 w-flex">
            <p class="bold text-center my-1">{{ brief }}</p>
            <span class="text-small">Publié par {{ brief.publisher }} le {{ brief.publishedAt|date('d/m/Y à H:i') }}</span>
        </a>
    {% endfor %}
    </div>
</div>