<hr>
<div class="flex wrap just-around mx-0">
    <div class="flexc align-center text-center p-4 mx-1 my-2 shadow-small learn-section">
        <div class="rounded-circle p-2">
            <img src="/img/home/pedagogie.png" class="img-sm" alt="Pedagogie">
        </div>
        <span class="bold">Pédagogie active</span>
        <span>Soyez acteur de votre apprentissage et élargissez votre savoir.</span>
    </div>
    <div class=" flexc align-center text-center p-4 mx-1 my-2 shadow-small learn-section">
        <div class="rounded-circle p-2">
            <img src="/img/home/respect.png" class="img-sm" alt="Respect">
        </div>
        <span class="bold">Ouvert à tou.t.e.s</span>
        <span>Votre âge, votre style, votre religion, votre diplôme, we don't care.</span>
    </div>
    <div class=" flexc align-center text-center p-4 mx-1 my-2 shadow-small learn-section">
        <div class="rounded-circle p-2">
            <img src="/img/home/clock.png" class="img-sm" alt="Times">
        </div>
        <span class="bold">Rapide & Intense</span>
        <span>Formation d'une durée de 7,5 mois dont 1 mois de stage</span>
    </div>
    <div class=" flexc align-center text-center p-4 mx-1 my-2 shadow-small learn-section">
        <div class="rounded-circle p-2">
            <img src="/img/home/sociology.png" class="img-sm" alt="Social">
        </div>
        <span class="bold">Enrichissant</span>
        <span>Interventions de professionnels et immersion dans une entreprise</span>
    </div>
</div>

<div class="row simplon-info my-5">
    <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-2 text-justify">
        La formation est <strong>gratuite, professionnalisante, intensive</strong> et ne nécessitent aucun pré-requis technique, juste une bonne dose de motivation !
        La méthode Simplon.co, c’est une <strong>pédagogie active</strong> où l’apprenant.e est confronté.e à des mises en situation concrètes via des projets individuels et en groupe.
        Le collectif est un élément central de l’apprentissage car l’apprenant.e est aidé.e et évalué.e par ses pairs.
    </div>
    <div class="col-lg-4 col-md-12 order-md col-sm-12 my-2 text-center">
        <img src="/img/home/responsive.png" class="img-xl my-2" alt="Web responsive">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 px-3 my-2 text-justify">
        Pour garantir une insertion professionnelle réussie, l’apprenant.e est <strong>immergé.e dans le monde de l’entreprise tout au long de sa formation</strong> et encouragé.e à continuer sa formation via un contrat de professionnalisation.
        Les entreprises peuvent parrainer une promotion et le chef d’oeuvre de l’apprenant.e, c’est-à-dire le rendu final qui vient valider la fin de sa formation, est évalué par un jury de professionnels
    </div>
</div>

<div class="row mx-0 flex just-center text-center text-white py-4 w-100 bg-red">
   <div class="col-md-4 col-12">
        <i class="fas fa-map-marker-alt icon-sm mb-3"></i>
        <p>7 avenue Jean Delautre<br>08000 Charleville-Mézières</p>
   </div>
   <div class="col-md-4 col-12">
        <i class="fas fa-id-badge icon-sm mb-3"></i>
        <p>Benoit CARON<br>Benoit.Caron@ardennes.cci.fr</p>
   </div>
    <div class="col-md-4 col-12">
        <i class="fal fa-globe icon-sm mb-3"></i><br>
        <p>
            Pour plus d'informations<br>
            <a href="https://simplon.co/charleville/" class="text-white" target="_blank" rel="noreferrer" aria-label="Site officiel"><u>Site internet Simplon.co</u></a>
        </p>
   </div>
</div>

<div class="mt-5 text-center inscription">
    <h3 class="home-title"><span class="bg-white px-3">Vous souhaitez vous inscrire ?</span></h3>
    <h3 class="d-none home-title-mq">Vous souhaitez vous inscrire ?</h3>
    <p class="my-5 w-50 mx-auto">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia cum ullam reprehenderit dignissimos natus inventore unde praesentium eum distinctio, placeat, corporis quibusdam deserunt ipsa fuga, error veniam omnis sequi iste.
    </p>
</div>
<hr>
<div class="text-center">
    <button class="btn bg-red text-white">Candidater pour la prochaine formation</button>
</div>

<hr>

<div class="text-center my-5">
    <h4 class="home-title"><span class="bg-white px-3">Liste des briefs de la formation</span></h4>
    <h4 class="d-none home-title-mq">Liste des briefs de la formation</h4>
</div>
<div class="flex wrap just-around">
{% for brief in briefs %}
    <a href="{{path('home_brief',{'slug':brief.slug})}}" class="container-white shadow-small home-brief flexc rhover just-center align-center my-2 w-flex">
        <p class="bold text-center my-1">{{ brief }}</p>
        <span class="text-small">Publié par {{ brief.publisher }} le {{ brief.publishedAt|date('d/m/Y à H:i') }}</span>
    </a>
{% endfor %}
</div>

<div class="text-center my-5">
    <h4 class="home-title"><span class="bg-white px-3">Nos partenaires</span></h4>
    <h4 class="d-none home-title-mq">Nos partenaires</h4>
</div>

<div class="slider position-relative overflow-hidden bg-white w-100 mt-2 mx-auto">
    <div class="slide-track d-flex">
        <div class="slide">
            <img src="./img/partners/01.png" class="py-2 mh-100" alt="Partenaires 1"/>
        </div>
        <div class="slide">
            <img src="./img/partners/02.jpg" class="py-2 mh-100" alt="Partenaires 2"/>
        </div>
        <div class="slide">
            <img src="./img/partners/03.png" class="py-2 mh-100" alt="Partenaires 3"/>
        </div>
        <div class="slide">
            <img src="./img/partners/04.jpg" class="py-2 mh-100" alt="Partenaires 4"/>
        </div>
        <div class="slide">
            <img src="./img/partners/05.jpg" class="py-2 mh-100" alt="Partenaires 5"/>
        </div>
        <div class="slide">
            <img src="./img/partners/06.png" class="py-2 mh-100" alt="Partenaires 6"/>
        </div>
        <div class="slide">
            <img src="./img/partners/p_cci.png" class="py-2 mh-100" alt="Partenaires CCI"/>
        </div>
    </div>
</div>

