{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/skill.css">
{% endblock %}

{% block body %}
<div class="home bg-grey rounded">
    <div class="user-last-project">
        <span class="bold">Dernier projet</span>
    </div>
    <div class="user-weather">
        <span class="bold">Météo du jour</span>
        <div class="text-center">
        <i class="fal fa-cloud-showers"></i>
        </div>
    </div>
    <div class="user-skill">
        <span class="bold">Mes compétences</span>
        <div class="mt-2 rounded">
            {% for skill in app.user.userSkills %}
                {{ template.level(skill) }}
            {% endfor %}
        </div>
    </div>
    <div class="user-notif">
        <span class="bold">Mes notifications</span>
        <div class="text-center">
        <i class="fal fa-bell text-red"></i>
        </div>
    </div>
    <div class="home-date">
        <span class="bold">Date du jour</span>
        <div class="text-center date">
        {{ date | date("d/m/Y") }}
        </div>
    </div>
    <div class="user-files">
        <span class="bold">Informations administratives</span>
    </div>
    <div class="user-stage">
        <span class="bold">Etat des stages</span>
    </div>
    <div class="home-weather">
        <span class="bold">Météo du jour de la promo</span>
    </div>
    <div class="home-projects">
        <span class="bold">Derniers projets de la promo</span>
    </div>
    <div class="home-empty">
    </div>
</div>
{% endblock %}
