/****************************************************
 ***** PROJECT
 ***************************************************/
.project-title h1{ width: 90%; }
.progress{ height: 5px!important; }
.project-content:not(#task){ display: none; }
.project-detail, .project-detail-user{ width: 49%; }
.project-members img:not(:first-of-type){ margin-left: -7px; }
.project-nav.active{
    @extend .bg-white;
    @extend .rounded;
    font-weight: 600;
}

[class^="status-"], .status{
    height: 8px;
    width: 8px;
    @extend .circle;
}
.status-yellow { background: rgb(255, 200, 0); }
.status-red    { background: red;        }
.status-orange { background: orange;     }
.status-green  { background: green;      }
.status-blue   { background: dodgerblue; }

.project-other-users{
    @extend .bg-grey;
    opacity: .5;
    line-height: 30px;
}

.project-new input, .project-new textarea{
    border: none;
}
.project-new input:focus, .project-new textarea:focus{
    box-shadow: none;
}
.project-new .project-user-selected input:focus,
.project-new .language-selected input:focus{
    outline: 1px solid rgba(0,0,0,.75);
}
 /****************************************************
 ***** TASK
 ***************************************************/
.add-task{
    height: 30px;
    width: 30px;
    line-height: 30px;
}
#task-title{
    @include line-clamp(2);
}

.task-container [class*="col-"]{ padding: 0 !important; }

.task-add-subtask div:nth-of-type(1){ width: 65%; }
.task-add-subtask div:nth-of-type(2){ width: 12%; text-align: center; }
.task-add-subtask div:nth-of-type(3){ width: 20%; }
.task-add-subtask-edit div:nth-of-type(1){ width: 65%; }
.task-add-subtask-edit div:nth-of-type(2){ width: 12%; text-align: center; }
.task-add-subtask-edit div:nth-of-type(3){ width: 20%; }

.task-info .form-control:focus, .task-info input,
.task-info textarea, .task-info select, .task-add-subtask input,
.task-add-subtask *:focus{ @extend .shadow; }

/****************************************************
 ***** ALL PROJECTS
 ***************************************************/
.new-project{ font-size: 5em; }

.project-container{
    width: 32%;
    height: 125px;
}
.project-container p{
   @include line-clamp(1);
}

/* Fade other task */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}