<div class="nav-top">
    <div class="d-flex justify-content-between px-0">
        <ul>
            <li><a href="#">Projets</a></li>
            <li><a href="{{ path('promo_all') }}">Promotions</a></li>
            <li><a href="#">Aide</a></li>
        </ul>
        <ul>
            <li><a href="{{ path('home') }}" class="bold"><span class="text-danger">Simplon</span>Online</a></li>
            <li class="logout"><a href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
</div>