<div class="nav-top">
    <div class="d-flex justify-content-between px-0">
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link" href="#">Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Agenda</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aide</a>
            </li>
        </ul>
        <ul class="navbar">
            <li class="nav-item">
                <a class="nav-link" href="#"><b><span class="text-danger">Simplon</span>Online</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout" href="{{ path('account_logout') }}"><i class="fas fa-sign-out-alt mt-1"></i></a>
            </li>
        </ul>
    </div>
</div>