<div class="nav-left d-flex flex-column text-center">
    <div class="d-flex flex-column">
        <img></img>
        <span>COUAILLIER Teddy</span>
    </div>
    <hr>
    <div>
        <ul>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Compétences</a></li>
            <li><a href="#">Administratif</a></li>
            <li><a href="#">Portfolio</a></li>
            <hr>
            <li><a href="#">Mes info</a></li>
            <li><a href="#">Stages</a></li>
            <li><a href="#">Données</a></li>
            <hr class="mb-1">
        </ul>
    </div>
    <span><b>Etat des projets</b></span>
    <div class="project-status">
        <p></p>
        <button class="btn btn-danger mb-3">NOUVEAU</button>
    </div>
</div>