{% extends 'base.html.twig' %}

{% block title %}Ajouter une donnée{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/data.css">
{% endblock %}

{% block body %}
    <h1>Ajouter une donnée</h1>
    <hr>
    <div class="bg-grey rounded p-2">

         {{ form(form) }}

    </div>

{% endblock %}
