*,*::before,*::after {
  box-sizing: border-box;
}

:root{
    --red:      #f24848;
    --grey:     #e8ecf1;
    --white:    #FFFFFF;
    --black:    #000000;
    --greylight:#00000075;
    --greydark: #00000025;
    --shadow: 0 2px 4px rgba(0,0,0,.20);
}

body{
    font-family: 'Abel', Verdana, sans-serif;
    color: #2a2d31 !important;
    background: #f6f8f9;
    font-weight: 400;
    margin: 0;
}
/*****************************************************
 ** HTML
 ****************************************************/
*:focus{ outline: 1px solid var(--greydark); }
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
a  { color: var(--black); text-decoration: none;}
i  { margin-top: 5px; }
em { color: var(--greylight); }
img{ object-fit: cover; }
p  { margin: 0!important; }
h1,h2,h3{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
button:focus{ outline: none; }
a:hover{
    text-decoration: none !important;
    color: var(--black);
}
ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/*****************************************************
 ** FONT & COLORS
 ****************************************************/
.bg-grey     { background: var(--grey) !important; }
.bg-white    { background: var(--white) !important; }
.bg-red      { background: var(--red) !important; }
.text-grey   { color: var(--greylight) !important; }
.text-greyd  { color: rgba(0,0,0,.75) !important; }
.text-greyl  { color: var(--greydark) !important; }
.text-white  { color: var(--white) !important; }
.text-red    { color: var(--red) !important; }
.text-black  { color: var(--black) !important; }
.bold        { font-weight: 600; }
.text-small  { font-size: .85em; }
.text-medium { font-size: 1.2em; }
.text-large  { font-size: 1.6em; }
.text-xlarge { font-size: 2em; }
.rhover:hover{ color: var(--red) !important; cursor: pointer; }
.bhover:hover{ color: var(--black) !important; cursor: pointer; }
/*****************************************************
 ** DISPLAY
 ****************************************************/
.flex{
    display: -ms-flexbox!important;
    display: flex!important;
}
.flexc{
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.just-between{
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.just-around{
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.just-center{
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.align-center{
    -ms-flex-align: center!important;
    align-items: center!important;
}
.align-baseline{
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
}
.wrap{
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

/*****************************************************
 ** BASE
 ****************************************************/
.rounded{ border-radius: 7px !important;}
.icon-xs{ width: 16px; height: 16px;}
.icon-sm{ font-size: 2em; }
.icon-md{ font-size: 3em; }
.icon-lg{ font-size: 4.5em; }
.icon-xl{ font-size: 5em; }
[class*="avatar-"]{ border-radius: 50%; }
.avatar-xs, .rounded-xs{
    width: 30px;
    height: 30px;
}
.avatar-sm, .rounded-sm{
    width: 50px;
    height: 50px;
}
.avatar-md, .rounded-md{
    width: 75px;
    height: 75px;
}
.avatar-lg, .rounded-ld{
    width: 150px;
    height: 150px;
}
.initial{
    background: #AAA;
    color: #CCC;
    font-size: 5em;
}
.shadow-small{
    box-shadow: var(--shadow);
}
.container-grey{
    border-radius: 7px !important;
    background: var(--grey) !important;
    padding: .5rem;
}
.container-white{
    border-radius: 7px !important;
    background: var(--white);
    padding: .5rem;
}
.button-edit{
    background: var(--grey);
    color: var(--greylight);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: none;
}
.button-edit:hover{
    color: rgba(0,0,0,.9);
    -webkit-box-shadow: var(--shadow);
       -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}
.w-33{ width: 33% !important; }
.w-66{ width: 66% !important; }
.mw-50{ max-width: 50% !important; }
.mw-66{ max-width: 66% !important; }
.pointer{ cursor: pointer; }
.btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.1)!important;
}
[class*="badge-link-"]{
    padding: 3px 7px;
    font-weight: bold;
    font-size: .75em;
    border-radius: 12px;
}

.badge-link-active{
    background: var(--red);
    color: white;
}

.badge-link-inactive{
    background: white;
    color: var(--red);
    border: 1px solid var(--red);
}
.badge-link-inactive:hover{
    background: var(--red);
    color: white;
    cursor: pointer;
}
/*****************************************************
** FORM
****************************************************/
input{
    background: var(--white) ;
    border-radius: 7px ;
    padding: 2px 7px ;
}
input:focus,select:focus{
    border: none;
    -webkit-box-shadow: var(--shadow);
       -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}
legend{
    display: none;
}
.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
.custom-control-input:checked~.custom-control-label::before{
    background: var(--red) !important;
    border-color: var(--red) !important;
}
.custom-control-input:focus.custom-control-label::before{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.button-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: none;
}
.button-circle:hover{
    cursor: pointer;
    color: rgba(0,0,0,.9);
    -webkit-box-shadow: var(--shadow);
       -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}
.dropdown-item:active {
    background: var(--red) !important;
}
.form-check label{ transform: translateY(-5px) !important; }
.form-check input{ margin-right: 10px !important; }

.modal{
    transform: none !important;
}

/*****************************************************
** MESSAGE
****************************************************/
.messages-success{ border-left: 4px solid #4BB543; }
.messages-warning{ border-left: 4px solid #ffc800; }
.message-icon-success{ color: #4BB543; }
.message-icon-warning{ color: #ffc800; }

/*****************************************************
 ** SUB-NAVIGATION (Link & button)
 ****************************************************/
.subnav {
    font-size: 1.1em;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #b5bac0 !important;
    padding: 0px 8px;
}
.subnav:hover{
    color: var(--red) !important;
}
.subnav:focus{
    color: var(--red) !important;
    outline: none;
}
.subnav-link:hover{
    color: var(--red)!important;
}
.subnav-tooltip {
    display: none;
    background: #fff;
    text-align: center;
    font-size: .85em;
    font-weight: bold;
    width: 85px;
    bottom: 100%;
    color: #333;
    left: -60px;
    margin-bottom: 10px;
    padding: 5px;
    pointer-events: auto;
    position: absolute;
    z-index: 9999;
    -webkit-box-shadow: var(--shadow);
       -moz-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
}

.subnav .subnav-tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

/*****************************************************
 ** JAVASCRIPTS
 ****************************************************/
.reveal{
    opacity: 0;
    transform: translateY(-30px);
}
.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.6,0,0,1);
}

/* Select users */
.ms-no-results{ padding: 8px !important; }
.ms-parent{
    width: 100% !important;
    padding: 0 !important;
    height: 100% !important;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,75);
}