body{
    font-family: 'Abel';
    font-weight: 400;
    color: #2a2d31 !important;
}
/* HTML */
*:focus{ outline: 1px solid rgba(0,0,0,.2); }
h1{
    margin: 0;
}
a{
    color: black;
}
a:hover{
    text-decoration: none !important;
    color: black;
}
em{
    color: rgba(0,0,0,.5);
}
img{
    object-fit: cover;
}
ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}
input{
    border-radius: 7px !important;
    background: white !important;
    padding: 2px 7px !important;
}
input:focus{
    border: none;;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5) !important;
}
button:focus{
    outline: none;
}
p{ margin: 0!important; }

/*****************************************************
 ** FONT & COLORS
 ****************************************************/
 .bg-grey{ background: #e8ecf1!important; }
.bg-white{ background: #FFFFFF!important; }
.bg-red{ background: rgba(242,72,71,1) !important; }
.text-red{ color: rgba(242,72,71,1) !important; }
.text-white{ color: white!important; }
.text-grey{ color: rgba(0,0,0,.5); }
.bold{ font-weight: 600; }

/*****************************************************
 ** BASE
 ****************************************************/
.rounded{ border-radius: 7px !important;}
.circle{ border-radius: 50%; }
.delete{ cursor: pointer; }
.icon{
    width: 20px;
    height: 20px;
}
.button-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
    border: none;
}
.button-circle:hover{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3) !important;
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3) !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3) !important;
    color: rgba(0,0,0,.9);
    cursor: pointer;
}

/*****************************************************
** FORM TEMPLATE
 ****************************************************/
.custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
.confirm-right{ transform: translate(-30px,30px); }
.close-message{ color: white !important; }

/*****************************************************
 ** MESSAGE
 ****************************************************/
.message{
    padding: 20px 30px;
    margin: 10px 0;
}
.success{
    background-color: #369592;
    color: white;
}
.info{
    background: #373c42;
    color: white;
}
.warning{ background-color: #F7BB33; }
.danger{ background-color: rgba(242,72,71,1); }

/* AVATAR */
.avatar-xs{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar-sm{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.avatar-md{
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

/*****************************************************
 ** SUB-NAVIGATION (Link & button)
 ****************************************************/
.subnav{
    cursor: pointer;
    color: #b5bac0 !important;
    float: right;
    margin: 0 !important;
    transition: all .3s linear;
    padding: 5px 8px;
}
.subnav:focus{
    color: rgba(242,72,71,1) !important;
    outline: none;
}
.subnav:hover{
    color: rgba(242,72,71,1) !important;
}
.subnav-link{
    font-weight: 550;
    transition: all .2s linear;
}
.subnav-link:hover{
    color: rgba(242,72,71,1) !important;
}

/*****************************************************
 ** MODAL
 ****************************************************/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,.85);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 30px;
    width: 80%;
    border: none;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}
.modal-button { cursor: pointer; }
.close-modal {
    color: #888;
    font-size: 28px;
    font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
