body{
    font-family: 'Abel';
    font-weight: 400;
}
a{
    color: black !important;
}
a:hover{
    text-decoration: none !important;
}
ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    text-transform: uppercase;
}

.main-content{
    width: calc(100% - 225px);
    transform: translate(225px,40px);
    background: #F2F2F2;
}

.main{
    min-height: calc(100vh - 65px);
    padding: 30px 100px;
}

footer{
    height: 20px;
    text-align: center;
    font-size: .7em;
    color: #555;
}