.copy{
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    color: var(--greylight);
}
.copy:hover{ color: #000000; }
.copy:active{ color: var(--red); }
.data-edit label{ display: none !important; }

.data-list{
    cursor: pointer;
    background: white;
    border: 1px solid var(--black);
}
.data-list, .data-list a{ color: var(--black); }
.data-list:hover{ border: 1px solid var(--red); }
.data-list:hover, .data-list:hover a{ color: var(--red); }