.show-files{
    height: 425px;
}
.show-files > div:first-child{
    width: calc(100% - 300px);
    max-height: 100%;
    overflow-y: scroll;
    margin-right: 10px;
}
.show-files > div:first-child::-webkit-scrollbar{
    display: none;
}
.show-files > div:last-child{
    width: 300px;
    height: 100%;
}
.file-state{
    /* border-top: 2px solid rgba(242,72,71,1); */
    /* float: right; */
    /* transform: translate(21px,10%); */
    /* margin: 0!important; */
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
}

.file-info{ width: 95%; }
.file-user{ font-size: .89em; }
.no-file{ font-size: 1.5em;}
.no-file i{ font-size: 6em; }

.files-delete i,
.files-delete:hover{ color: rgba(242,72,71,1) !important; }

/* Select users */
.ms-parent{
    width: 100% !important;
    padding: 0 !important;
    height: 100% !important;
}
.ms-no-results{ padding: 8px !important; }