.show-files{ height: 425px; }
.received-files{
    width: calc(100% - 300px);
    max-height: 100%;
    overflow-y: scroll;
    margin-right: 10px;
}
.received-files::-webkit-scrollbar{ display: none; }
.form-files{
    width: 300px;
    height: 100%;
    background: #FFFFFF;
    padding: 30px;
    margin-bottom: 30px;
}
.file-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 30px;
    margin-bottom: 20px;
}
.file-state{
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFFFFF;
}

.file-info{ width: 95%; }
.file-user{ font-size: .89em; }
.no-file{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
}
.no-file i{ font-size: 6em; }

.files-delete i,
.files-delete:hover{ color: rgba(242,72,71,1) !important; }