/* MAIN SECTION */
.main{
    min-height: calc(100vh - 1.5rem);
    width: 70%;
}

/* Weather */
.weather-content fieldset{ text-align: left; }
.form-check{ margin: 10px 0; }
.form-check input{ margin-right: 40px; }

input[type=radio]{ display: none; }
input[type=radio] + label:before {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
input[type=radio]:checked + label:before {
    background: var(--red);
    border-color: var(--red);
    box-shadow: inset 0px 0px 0px 2px #fff;
}
.element{ margin-bottom:14px; }
label{ cursor:pointer; }

/* SUBNAV */
.user-nav{
    z-index: 9999;
    bottom: 25px;
    right: 25px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
}
.user-subnav { z-index: 9999; }
.dots{ opacity: .3; width: 15px;}
.dots:hover{ opacity: 1; }
.notif:hover{ color: rgba(0,0,0,0.75); }
.user-nav > *{ margin: 0 10px; }

.dots.active{ opacity: 1; }
.user-notif{
    display: none;
    bottom: 25px;
    right: 200px;
    width: 400px;
    z-index: 100;
}
.notif.active{ color: var(--red); }
.notifs div:nth-of-type(1){ width: 65%; }
.notifs div:nth-of-type(2){ width: 20%; }
.notifs div:nth-of-type(3){ width: 20%; }

.notifs-header div:nth-of-type(1){ width: 85%; }
.notifs-header div:nth-of-type(2){ width: 20%; }

.user-subnav{
    display: none;
    bottom: 80px;
    right: 90px;
}

.subnav-circle{
    height: 35px;
    width: 35px;
    line-height: 35px;
}
.subnav-circle:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(242,72,71,.5) !important;
       -moz-box-shadow: 0px 0px 10px 0px rgba(242,72,71,.5) !important;
            box-shadow: 0px 0px 10px 0px rgba(242,72,71,.5) !important;
}

/* NAVLEFT */
.nav-left{
    width: 200px;
    z-index: 1000;
    margin-left: -200px;
    transition: margin .4s linear;
}
.nav-left.active{ margin-left: 0px; }
.nav-left .content{ height: 250px; }
.nav-left .all-weather{
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.nav-left:hover .all-weather::-webkit-scrollbar-thumb{ background: #CCC; }
.all-weather::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
    background-color: var(--white);
    box-shadow: none;
}

.all-weather::-webkit-scrollbar
{
	width: 6px;
    background-color: #F5F5F5;
}

.all-weather::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--white);
    box-shadow: none;
}

/* Navleft button */
.nav-left-button{
    z-index: 1001;
    transition: margin .4s linear;
    filter: drop-shadow(7px 0px 5px rgba(0,0,0,.05));
}
.nav-left-button.active{ margin-left: 200px; }
.nav-left-button > div{
    padding: 10px 2px;
    clip-path: polygon(0 0, 100% 20%, 100% 80%, 0% 100%);
}
.nav-left-button img{
    height: 50px;
    opacity: .3;
}
.nav-left-button:hover img{ opacity: .5; }
.users-weather:hover { background: rgba(225,225,225,.25); }