/* LEFT SECTION */
.nav-left{
    position: fixed;
    height: 100vh;
    width: 175px;
    padding: 20px 15px;
    background: #363b42;
    z-index: 999;
    -webkit-box-shadow: 3px 40px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 40px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 40px 6px 0px rgba(0,0,0,0.1);
}
.nav-left *{
    color: #FFFFFF;
    font-size: .95em!important;
}
.nav-left ul:first-of-type li{
    margin: 10px 0;
    font-weight: 600;
}
.nav-left ul:first-of-type li:hover{
    font-weight: 600;
}
.nav-left ul:last-of-type li{
    margin: 4px 0;
}
.nav-left a:hover{
    color: rgba(242,72,71,1) !important;
}
.nav-left hr{
    border-color: rgba(200,200,200,.1);
    width: 100%;
}
.nav-left div:last-child{
    margin: 0;
}
.nav-left .title{
    color: rgba(200,200,200,.75);
}
.nav-left .project-status{
    max-height: 100%;
    overflow-y: scroll;
}
.nav-left .project-status::-webkit-scrollbar{
    display: none;
}
.nav-left .project-status button{
    margin-top: 10px;
    font-size: .82em !important;
    width: 100%;

}
.nav-left .project-status button:hover{
    color: #FFFFFF !important;
}

.nav-left ul li{
    font-size: 1.15em;
}

/* HEADER NAV */
.nav-top{
    position: fixed;
    top: 0;
    background: #FFFFFF;
    width: calc(100% - 175px);
    transform: translateX(175px);
    z-index: 1;
    font-size: .84em;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
}
.nav-top ul li{
    display: inline-block;
    padding: 6px 10px;
    border-bottom: 2px solid #FFFFFF;
}
.nav-top ul li:hover:not(.logout){
    border-bottom: 2px solid rgba(242,72,71,1);
}

.logout a{
    font-size: .85em !important;
    padding: 5px 7px;
    border-radius: 50%;
    background: #e8ecf1;
    transition: all .2s linear;
}
.logout a:hover{ color: rgba(242,72,71,1); }

.nav-top .active{ border-bottom: 2px solid rgba(242,72,71,1); }

/* MAIN SECTION */
.main-content{
    width: calc(100% - 175px);
    transform: translate(175px,40px);
    display: none;
}

.main{
    min-height: calc(100vh - 65px);
    padding: 30px 100px;
}

footer{
    height: 20px;
    text-align: center;
    font-size: .7em;
    color: #555;
}
