/* LEFT SECTION */
.nav-left{
    position: fixed;
    height: 100vh;
    width: 175px;
    padding: 20px 15px;
    z-index: 999;
    background: #363b42;
    -webkit-box-shadow: 3px 40px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 40px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 40px 6px 0px rgba(0,0,0,0.1);
}
.nav-left *{
    color: #FFFFFF;
    font-size: .95em!important;
}
.nav-left ul:first-of-type li{
    margin: 10px 0;
    font-weight: 600;
}
.nav-left ul:first-of-type li:hover{
    font-weight: 600;
}
.nav-left ul:last-of-type li{
    margin: 4px 0;
}
.nav-left a:hover{
    color: rgba(242,72,71,1) !important;
}
.nav-left hr{
    border-color: rgba(200,200,200,.1);
    width: 100%;
}
.nav-left div:last-child{
    margin: 0;
}
.nav-left .title{
    color: rgba(200,200,200,.75);
}
.nav-left .project-status{
    max-height: 100%;
    overflow-y: scroll;
}
.nav-left .project-status::-webkit-scrollbar{
    display: none;
}
.nav-left .project-status button{
    margin-top: 10px;
    font-size: .82em !important;
    width: 100%;

}
.nav-left .project-status button:hover{
    color: #FFFFFF !important;
}

.nav-left ul li{
    font-size: 1.15em;
}

/* HEADER NAV */
.nav-top{
    position: fixed;
    top: 0;
    background: #FFFFFF;
    width: calc(100% - 175px);
    transform: translateX(175px);
    z-index: 1;
    font-size: .84em;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
       -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
}
.navlist ul li{
    display: inline-block;
    padding: 6px 10px;
    border-bottom: 2px solid #FFFFFF;
}
.navlist .logout{
    padding: 6px 10px 0;
}
.navlist ul li:hover:not(.logout){
    border-bottom: 2px solid rgba(242,72,71,1);
}
.nav-dropdown{
    display: none;
    background: white;
    border-bottom: 2px solid #e8ecf1;
    border-left: 2px solid #e8ecf1;
    border-right: 2px solid #e8ecf1;
    position: fixed;
    width: 200px;
    padding: 10px;
    right: 0;
    font-size: 1.1em!important;
}
.nav-dropdown li{
    padding: 2px 8px;
}
.nav-dropdown li:hover{
    background: #dadfe650;
}

.logout p{
    font-size: 1em !important;
    margin-right: 10px;
    border-radius: 50%;
    width: 25px; height: 25px;
    line-height: 25px;
    text-align: center;
    background: #dde0e6;
    transition: all .2s linear;
    cursor: pointer;
}
.logout:hover{ color: rgba(242,72,71,1); }

.nav-top .active{ border-bottom: 2px solid rgba(242,72,71,1); }

/* MAIN SECTION */
.main{
    min-height: calc(100vh - 65px);
    padding: 70px 100px 30px 275px;
    /* padding: 70px 200px 30px 200px; */
}

footer{
    padding-left: 175px;
    height: 20px;
    text-align: center;
    font-size: .7em;
    color: #555;
}

/* Weather */
.weather-content fieldset{ text-align: left; }
.form-check{ margin: 10px 0; }
.form-check input{ margin-right: 40px;}
input[type=radio]{
    display: none;
}
/* Affichage par défaut du bouton radio personnalisé */
input[type=radio] + label:before {
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
/* Affichage du bouton radio personnalisé quand il est sélectionné */
input[type=radio]:checked + label:before {
    background: rgba(242,72,71,1);
    border-color: rgba(242,72,71,1);
    box-shadow: inset 0px 0px 0px 2px #fff;
}
.element{
    margin-bottom:14px;
}
label{
    cursor:pointer;
}
/* 
.user-nav{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: white;
    padding: .5rem 1em;
    width: 150px;
    border-radius: 50px;
    color: rgba(0,0,0,0.3);
}
.dots{ opacity: .3; width: 15px;}
.dots:hover{ opacity: 1; cursor: pointer;}
.notif:hover{ color: rgba(0,0,0,0.75); cursor: pointer;}
.user-nav > *{
    margin: 0 10px;
}

.user-notif{
    display: none;
    position: fixed;
    bottom: 25px;
    right: 200px;
    width: 400px;
    height: auto;
    z-index: 100;
}
.notif.active{
    color: rgba(242,72,71,1);
}
.notifs div:nth-of-type(1){ width: 60%; }
.notifs div:nth-of-type(2){ width: 20%; }
.notifs div:nth-of-type(3){ width: 20%; }
.notifs div:nth-of-type(4){ width: 5%; }

.notifs-header div:nth-of-type(1){ width: 80%; }
.notifs-header div:nth-of-type(2){ width: 20%; }
.notifs-header div:nth-of-type(3){ width: 5%; }

.user-subnav{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 90px;
    cursor: pointer;
}

.subnav-circle{
    border-radius: 50%;
    background: rgba(242,72,71,1);
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-weight: 900!important;
}
.subnav-circle a{ color: #FFFFFF!important; }
.subnav-circle:hover{
    font-weight: bold!important;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5) !important;
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5) !important;
         box-shadow: 0px 0px 10px 0px rgba(242,72,71,.5) !important;
} */