.add-task{
    height: 30px;
    width: 30px;
    line-height: 30px;
}
.progress{ height: 5px!important; }

/* Panel */
.project-nav{
    cursor: pointer;
    width: 33%;
    padding: .5rem 0;
    font-size: .9em;
}
.project-nav.active{
    background: var(--white);
    border-radius: 7px!important;
    font-weight: 600;
}
.project-content:not(#task){ display: none; }



.task-container{ padding: 1em !important; }
#task-title{ width: 100%; }
#task-title p:first-child{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#task-users{ width: 45%; }
#task-sub  { width: 25%; }

[class^="status-"], .status{
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.status-yellow{     background: yellow; }
.status-red{        background: red; }
.status-orange{     background: orange; }
.status-green{      background: green; }
.status-blue{       background: dodgerblue; }

[class*="badge-link-"]{
    padding: 3px 7px;
    font-weight: bold;
    font-size: .75em;
    border-radius: 12px;
}

.badge-link-active{
    background: var(--red);
    color: white;
}

.ms-choice{ height: 35px;}
.ms-choice span{ line-height: 35px;}
.ms-choice > div{ height: 35px;}

.custom-control-label::before{
    box-shadow: none!important;
    outline: none!important;
}

.task-add-subtask div:nth-of-type(1){ width: 75%; }
.task-add-subtask div:nth-of-type(2){ width: 12%; text-align: center; }
.task-add-subtask div:nth-of-type(3){ width: 13%; }
.task-add-subtask-edit div:nth-of-type(1){ width: 60%; }
.task-add-subtask-edit div:nth-of-type(2){ width: 10%; text-align: center; }
.task-add-subtask-edit div:nth-of-type(3){ width: 20%; }

.button-see-task{
    border-radius: 20px;
    background: var(--white);
    color: var(--red);
    border-color: var(--red);
    font-weight: 650;
}
.button-see-task:hover{
    background: var(--red);
    color: var(--white);
}
.button-see-task:focus{
    box-shadow: var(--shadow);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.all-add-project{
    border-radius: 50%;
    font-size: 5em;
    color: #CCC;
    cursor: pointer;
    transition: all .3s linear;
}
.all-add-project:hover{
    color: var(--red);
}
.project-container{
    width: 32%;
    height: 125px;
}
.project-container p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.project-other-users{
    background: var(--greydark);
    opacity: .5;
    line-height: 30px;
}
.project-members img:not(:first-of-type){
    margin-left: -7px;
}

.project-detail, .project-detail-user{ width: 49%; }

.project-title h1{ width: 90%; }

@media (min-width: 992px){
    .modal-task{
        max-width: 80%;
    }
}