.progress{
    height: 5px!important;
}
.add-task{
    height: 50px;
}

.test.progress{
    border-top-left-radius: 50000000px;
    border-bottom-right-radius: 400000px;
    transform: translateY(4px);
    /* margin: 0 2px; */
    height: 4px!important;
    background: transparent!important;
}
.bg-yellow{ background: yellow; }
.tesst{ z-index: 10;}
    /* .task-error{ border-top: .2rem solid red; } */

.project-nav{
    cursor: pointer;
}
.project-nav.active{
    background: #FFFFFF;
    border-radius: 7px!important;
    font-weight: 600;
}
.project-content:not(#task){ display: none; }

[class^="status-"], .status{
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
.status-yellow{     background: yellow; }
.status-red{        background: red; }
.status-purple{     background: purple; }
.status-green{      background: green; }
.status-blue{       background: dodgerblue; }