
/* Show promotion */
.promo-users{
    background: #FFFFFF;
    margin-bottom: 1rem;
    padding: 1rem 0;
    width: 32%;
    height: 175px;
}
.promo-empty {
    width: 100%;
    text-align: center;
}
.promo-empty img{
    width: 100%;
    opacity: .1;
}
.promo-empty > div{
    position: relative;
    top: 40%;
    z-index: 2;
    padding: 10px;
    color: rgba(0,0,0,0.2);
    background: #FFFFFF;
    font-size: 3em;
}

/* Edit promotion */
.promo-add{
    padding: 10px;
}
.promo-add .button-circle{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4) !important;
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4) !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4) !important;
}
.promo-add-users > div:not(:last-child){
    width: 31%;
}
.promo-add-users > div:last-child{
    width: auto;
}
.promo-add-users input{
    border: none;
    box-shadow: 0 0 6px 0 rgba(175,175,175,.9);
}
legend{
    display: none;
}

/* Show all promotions */
.all-promo{
    width: 32%;
}
.all-promo .promo-content{
    padding: 20px;
}
.all-promo > .promo-content:hover h2{
    color: rgba(242,72,71,1);
}
.current, .no-current{
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.current{
    background: rgba(242,72,71,1);
    color: #FFFFFF;
}
.no-current{
    background: #FFFFFF;
    color: #FFFFFF;
}