.user {
    display: grid;
    grid-template-columns: 260px 200px auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0 25px;
}

.user-info      { grid-area: 1 / 1 / 4 / 2; }
.user-header    { grid-area: 1 / 2 / 2 / 4; }
.user-files     { grid-area: 2 / 2 / 3 / 3; height: 150px; }
.user-weather   { grid-area: 3 / 2 / 4 / 3; height: 150px; }
.user-projects  { grid-area: 2 / 3 / 4 / 4; }
.user-trainings { grid-area: 4 / 1 / 5 / 3; }
.user-datas     { grid-area: 5 / 1 / 6 / 3; }
.user-skills    { grid-area: 4 / 3 / 6 / 4; }
.user-portfolio { grid-area: 6 / 1 / 7 / 4; }

.user-secondary-info i{ width: 20px; }
.user-header { font-size: .94em; }
.user-header a{ color: #C0C0C0 ; }
.now {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.user-see-more{
    border-bottom: 2px solid var(--red);
    transition: background .2s linear;
}
.user-see-more:hover{ background: var(--red);}
.user-datas .circle{
    line-height: 75px;
    border: 2px solid var(--red);
}
