{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block body %}
    <h1>Liste des plannings</h1>
    <hr>
    <div class="flex wrap just-around align-center">
    {% for schedule in schedules %}
        <div class="container-white shadow-small my-2 w-flex">
            <p class="text-grey text-small">
                {{ schedule.beginAt | localizeddate('none', 'none', null, null, 'EEEE d MMMM HH:mm') }} -
                {{ schedule.endAt | localizeddate('none', 'none', null, null, 'EEEE d MMMM HH:mm') }}
            </p>
            <p>
                {{ schedule.title }}
            </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block modal %}{% endblock %}