{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Gestion des fichiers{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/libraries/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/file.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form)}}
    <h1>Gestion des fichiers</h1>
    <hr>
    <div class="container-grey mt-2 flex show-files">
        {{ include('file/_received.html.twig', {'user':user}) }}
        {{ include('file/_form.html.twig', {'form':form}) }}
    </div>
    <hr>
    <div class="container-grey mt-2">
        {{ include('file/_sent.html.twig', {'sending':sending}) }}
    </div>
{% endblock %}

{% block libraries %}
<script src="/js/libraries/bootstrap-select.min.js"></script>
{% endblock %}