$red      : #DC3D24;
$grey     : #e8ecf1;
$white    : #FFFFFF;
$black    : #000000;
$greydark : rgba(0,0,0,.50);
$greylight: rgba(0,0,0,.3);
$shadow   : 0 2px 4px rgba(0,0,0,.20);

.circle { border-radius: 50% !important; }
.rounded{ border-radius: 7px !important; }
.shadow {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}
.primary{
    background: $red !important;
    color: $white !important;
}
.secondary{
    background: $white !important;
    color: $red !important;
}

.bg-white    { background: $white !important;       }
.bg-red      { background: $red !important;         }
.bg-grey     { background: $grey !important;        }
.bg-greyl    { background: $greylight !important;   }
.text-grey   { color: $greydark !important;         }
.text-greyl  { color: $greylight !important;        }
.text-white  { color: $white !important;            }
.text-red    { color: $red !important;              }
.text-black  { color: $black !important;            }
.bold        { font-weight: 900; }
.text-small  { font-size: .85em; }
.text-medium { font-size: 1.2em; }
.text-large  { font-size: 1.6em; }
.text-xlarge { font-size: 2em;   }

@mixin line-clamp($line:2){
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
@mixin border($color,$px:1px){
    border: $px solid $color;
}