@import './variables';

.received-files{
    width: calc(100% - 300px);
    max-height: 410px;
    overflow-y: scroll;
    &::-webkit-scrollbar-thumb{ @extend .bg-white; @include border(#EEE, 1px); box-shadow: none; }
    &::-webkit-scrollbar-track{ background: transparent; box-shadow: none; }
    &::-webkit-scrollbar      { background: transparent; }
}

.form-files{ width: 300px; }
.file-info{ width: 90%; }
.file-state{
    height: 10px;
    width: 10px;
}

.tooltip-file,.tooltip-file-important{
    left: -200px;
    width: 200px;
}
.tooltip-file{ margin-bottom: -40px; }
.tooltip-file-important{ margin-bottom: -51px; }
.no-files{ display: none; }