@import './variables';

.training_course_user_trainingCourse-collection-actions{ text-align: right; }

.input-group-text{ align-items: unset !important; }
.training-project{ display: none; }
.chevron{
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    @extend .text-small;
    margin-left: 5px;
}
.chevron.down{
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}

.project-info-container{ display: none; }