{% import 'macro.html.twig' as template %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SimplonOnline - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel='stylesheet' href='/FontAwesome/css/all.min.css'/>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/main.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/leftsection.html.twig' %}
        {% include 'partials/header.html.twig' %}

        <div class="main-content">
            <div class="main">
                {% for class, messages in app.flashes %}
                    {% for message in messages %}
                        {{ template.message(class,message) }}
                    {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
            <footer><span class="text-danger">Simplon</span> - Copyright &copy; 2019. All rights reserved.</footer>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {# <script src="/FontAwesome/js/all.min.js"></script> #}
        {% block libraries %}{% endblock %}
        <script src="/js/base.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
