<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/leftsection.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'/>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/leftsection.html.twig' %}
        {% include 'partials/header.html.twig' %}

        <div class="main-content">
            <div class="main">
                {% block body %}{% endblock %}
            </div>
            <footer><span class="text-danger">Simplon</span> - Copyright &copy; 2019. All rights reserved.</footer>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
