{% import 'macro.html.twig' as template %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SimplonOnline - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel='stylesheet' href='/FontAwesome/css/all.min.css'/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/main.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/leftsection.html.twig' %}
        {% include 'partials/header.html.twig' %}

        {{ render(controller(
            'App\\Controller\\BaseController::weather'
        )) }}

        <div class="main">

            {% for class, messages in app.flashes %}
                {% for message in messages %}
                    {{ template.message(class,message) }}
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>

        <footer><span class="text-danger">Simplon</span> - Copyright &copy; 2019. All rights reserved.</footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.collection.js"></script>
        {% block libraries %}{% endblock %}
        <script src="/js/base.js"></script>
        <script src="/js/ajax.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
