{% import 'macro.html.twig' as template %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SimplonOnline - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel='stylesheet' href='/FontAwesome/css/all.min.css'/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel">
        <link rel="stylesheet" href="/css/libraries/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main/base.css">
        <link rel="stylesheet" href="/css/main/navs.css">
        <link rel="stylesheet" href="/css/main/main.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="/css/media_queries/mq_base.css">
    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        {% include 'partials/subnav.html.twig' %}

        {{ render(controller(
            'App\\Controller\\BaseController::weather'
        )) }}

        <div class="main py-4 mx-auto">

            {% for class, messages in app.flashes %}
                {% for message in messages %}
                    <div>
                        <div class="messages-{{class}} flex just-around align-center bg-white shadow w-50 mx-auto py-3 px-4 mb-4">
                            <div class="message-icon-{{class}}">
                                {% if class == "success" %}
                                <i class="fas fa-check-circle icon-sm pr-4"></i>
                                {% elseif class == "warning" %}
                                <i class="fas fa-exclamation-circle icon-sm pr-4"></i>
                                {% endif %}
                            </div>
                            <p class="w-100">
                                <span class="bold">
                                {% if class == "success" %}
                                    Succès
                                {% elseif class == "warning" %}
                                    Erreur
                                {% endif %}
                                </span><br>
                                <span class="text-grey">{{ message }}</span>
                            </p>
                            <button type="button" class="close close-message text-grey">
                                <span>&times;</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>

        {% block modal %}
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog {% block modalWidth %}{% endblock %}" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="flex just-between align-center">
                                <h2>{% block modalTitle %}{% endblock %}</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <hr>
                            <div class="modal-main">
                            {% block modalBody %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <footer class="text-center text-small text-greyd">
            <span class="text-red">Simplon</span> - Copyright &copy; 2019. All rights reserved.
        </footer>

        <script src="/js/libraries/jquery.min.js" onload="window.$ = window.jQuery;"></script>
        <script src="/js/libraries/popper.min.js"></script>
        <script src="/js/libraries/bootstrap.min.js"></script>
        <script src="/js/libraries/jquery.collection.js"></script>
        {% block libraries %}{% endblock %}
        <script src="/js/base.js"></script>
        <script src="/js/ajax.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
