{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Planning{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/calendar.css') }}">
{% endblock %}

{% block body %}
    <div class="container-white shadow-small mt-n3 calendar-view">
        {% include '@Calendar/calendar.html' %}
    </div>
    <div class="d-none container-white shadow-small p-5 calendar-resp text-center bold">
        Agenda inaccessible sur tablette et mobile.
    </div>
    <div class="my-5 text-center">
        <a href="{{ path('schedule_all') }}" class="text-grey bhover" aria-label="Plannings">Voir tous les plannings</a>
    </div>
{% endblock %}

{% block modalTitle %}Modifier le planning{% endblock %}
{% block modalBody %}{% endblock %}

{% block javascripts %}
    <script src="/assets/js/libraries/fc-core.min.js"></script>
    <script src="/assets/js/libraries/fc-interaction.min.js"></script>
    <script src="/assets/js/libraries/fc-daygrid.min.js"></script>
    <script src="/assets/js/libraries/fc-timegrid.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        var calendarEl = document.getElementById('calendar-holder');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            defaultView: 'timeGridWeek',
            height: "auto",
            nowIndicator: true,
            editable: true,
            selectable: true,
            allDaySlot: false,
            hiddenDays: [0,6],
            minTime: "08:00:00",
            maxTime: "19:00:00",
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            timeZone: 'Europe/Luxembourg',
            locale: 'fr',
            eventSources: [{
                url: "{{ path('fc_load_events') }}",
                method: "POST",
                extraParams: {
                    filters: JSON.stringify({})
                },
                failure: () => {
                    console.log('error fullcalendar');
                },
            }, ],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,addBtn',
            },
            footer: {
                center: 'prev,next'
            },
            buttonText: {
                today:    'Aujourd\'hui',
                month:    'Mois',
                week:     'Semaine',
                day:      'Jour',
                list:     'Liste'
            },
            customButtons: {
                addBtn: {
                    text: 'Ajouter',
                    click: function(){
                        $.ajax({
                            url: '/admin/schedule/new',
                            type: "POST",

                            success: function(response){
                                $('#modal').modal();
                                $('#modal').find('.modal-main').html(response.render);
                            }
                        });
                    }
                }
            },
            select: function(event) {
                $.ajax({
                    url: '/admin/schedule/createAjax',
                    data: {
                        start : event.startStr,
                        end : event.endStr
                    },
                    type: "POST",

                    success: function(response){
                        var test = {
                            id: response.id,
                            title: '',
                            start: event.startStr,
                            end: event.endStr,
                            backgroundColor: 'white',
                            classNames: 'shadow-small rounded p-2 schedule',
                            borderColor: 'rgba(0,0,0,.25)'
                        };
                        calendar.addEvent(test);
                    }
                });
            },
            eventDrop: function(event) {
                var startString = new Date(event.event.start.toUTCString());
                var endString   = new Date(event.event.end.toUTCString());
                var start = startString.toISOString().replace('T',' ').replace('Z','');
                var end   = endString.toISOString().replace('T',' ').replace('Z','');
                var id    = parseInt(event.event.id);

                $.ajax({
                    url: '/admin/schedule/move',
                    data: {
                        id : id,
                        start : start,
                        end : end
                    },
                    type: "POST",

                    success: function(response){
                    }
                });
            },
            eventResize: function(event) {
                var startString = new Date(event.event.start.toUTCString());
                var endString   = new Date(event.event.end.toUTCString());
                var start = startString.toISOString().replace('T',' ').replace('Z','');
                var end   = endString.toISOString().replace('T',' ').replace('Z','');
                var id    = parseInt(event.event.id);

                $.ajax({
                    url: '/schedule/move',
                    data: {
                        id : id,
                        start : start,
                        end : end
                    },
                    type: "POST",

                    success: function(response){
                    }
                });
            },
            eventClick: function(event) {
                var id = parseInt(event.event.id);
                $.ajax({
                    url: '/admin/schedule/editAjax',
                    data: {
                        id : id
                    },
                    type: "POST",

                    success: function(response){
                        $('#modal').modal();
                        $('#modal').find('.modal-main').html(response.render);
                    }
                });
            }
        });
        calendar.render();
    });
</script>
{% endblock %}