<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'/>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel">
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center main">
            <div class="d-flex flex-column shadow-lg text-center">
                <h1 class="text-uppercase h2"><span class="text-danger">Simplon</span>Online</h1>
            </div>
        </div>
    </body>
</html>
