<div class="project-content" id="activity">
    <div class="flex just-between mb-3">
        <div class="w-50">
            <span class="bold" style="font-size:1.2em">Activités</span>
        </div>
        <div></div>
    </div>
    <div class="bg-grey rounded p-2">
        <div class="bg-white rounded p-2 flex just-between mb-2">
            <div class="flex align-center">
                <div class="status mr-2"></div>
                <span class="bold">Le projet est pratiquement fini</span>
            </div>
            <span class="text-grey" style="font-size: .85m;">Aujourd'hui</span>
        </div>
        <div class="bg-white rounded p-2 flex just-between mb-2">
            <div class="flex align-center">
                <div class="status-green mr-2"></div>
                <span class="bold mr-1">Teddy C.</span> a ajouté une tache
            </div>
            <span class="text-grey" style="font-size: .85m;">Aujourd'hui</span>
        </div>
        <div class="bg-white rounded p-2 flex just-between mb-2">
            <div class="flex align-center">
                <div class="status-red mr-2"></div>
                <span class="bold mr-1">Teddy C.</span> a rencontré une erreur
            </div>
            <span class="text-grey" style="font-size: .85m;">Il y a 6 jours</span>
        </div>
        <div class="bg-white rounded p-2 flex just-between mb-2">
            <div class="flex align-center">
                <div class="status mr-2"></div>
                <span class="bold mr-1">Teddy C.</span> a été ajouté au projet
            </div>
            <span class="text-grey" style="font-size: .85m;">Il y a 1 semaine</span>
        </div>
    </div>

</div>