*{
    &::before,::after {
      box-sizing: border-box;
    }

    &:focus{ outline: 1px solid var(--greydark); }

    &::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        @extend .shadow;
        @extend .bg-white;
        @include border($greylight);
    }
}


body{
    font-family: 'Abel', sans-serif;
    color: #2a2d31 !important;
    background: #f4f6f7;
    font-weight: 400;
    margin: 0;
}

p  { margin: 0!important; }

a{
    color: $black;
    text-decoration: none;

    &:hover{
        text-decoration: none !important;
        color: $black;
    }
}

i  { margin-top: 5px; }

em { color: $greydark; }

img{ object-fit: cover; }

h1 { font-size: 2.5rem; }

h2 { font-size: 2rem; }

h1,
h2,
h3{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

legend{ display: none; }

button{ padding: 0; }
button:focus{ outline: none; }

input{
    // @extend .rounded;
    background: $white ;
    padding: 2px 7px ;
}

input:focus,select:focus, textarea:focus{
    border: none;
    outline: 1px solid $greylight !important;
    @extend .shadow;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.rhover:hover  { color: $red   !important; cursor: pointer; }
.bhover:hover  { color: $black !important; cursor: pointer; }
.ahover:hover  { text-decoration: underline; }

[class*="-danger"]{ background: $red; }
/* Display & container */
.flex{
    display: -ms-flexbox!important;
    display: flex!important;
}
.flexc{
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.just-between{
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.just-around{
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.just-center{
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.align-center{
    -ms-flex-align: center!important;
    align-items: center!important;
}
.align-baseline{
    -ms-flex-align: baseline!important;
    align-items: baseline!important;
}
.wrap{
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.container-grey{
    @extend .bg-grey;
    @extend .rounded;
    padding: .5rem;
}
.container-white{
    @extend .bg-white;
    @extend .rounded;
    padding: .5rem;
}

/* Bootstrap like */
.rounded{ @extend .rounded; }
.shadow-small{ @extend .shadow; }
.pointer{ cursor: pointer; }
.messages-success{ border-left: 4px solid #4BB543; }
.messages-warning{ border-left: 4px solid #ffc800; }
.message-icon-success{ color: #4BB543; }
.message-icon-warning{ color: #ffc800; }
.modal{ transform: none !important; }

/* Sizing */
.w-flex{ width: 48%; }
.w-33{ width: 33% !important; }
.w-66{ width: 66% !important; }
.mw-66{ max-width: 66% !important; }

.icon-xs{ font-size: .85em; }
.icon-sm{ font-size: 2em;   }
.icon-md{ font-size: 3em;   }
.icon-lg{ font-size: 4.5em; }
.icon-xl{ font-size: 5em;   }

[class*="avatar-"]{ @extend .circle; }
.avatar-xs, .img-xs{
    width: 30px;
    height: 30px;
}
.avatar-sm, .img-sm{
    width: 50px;
    height: 50px;
}
.avatar-md, .img-md{
    width: 75px;
    height: 75px;
}
.avatar-lg, .img-lg{
    width: 150px;
    height: 150px;
}
.avatar-xl, .img-xl{
    width: 225px;
    height: 225px;
}

/* Buttons */
.btn:focus{ box-shadow: 0 0 0 0.2rem rgba(0,0,0,.1)!important; }
.button-edit{
    @extend .bg-white;
    @extend .text-greyl;
    @extend .shadow;
    @extend .circle;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: none;
    cursor: pointer;

    &:hover{
        color: rgba(0,0,0,.9) !important;
    }
}
.button-circle{
    @extend .circle;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    border: none;

    &:hover{
        cursor: pointer;
        color: rgba(0,0,0,.9);
        @extend .shadow;
    }
}
.button-red{
    cursor: pointer;
    @extend .primary;

    &:hover{
        background: #be2811;
        @extend .text-white;
    }
}

@-webkit-keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  @keyframes slideOutRight {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  
  .slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
  }


@-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.toast-content{
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;

    .toast-message{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1.5rem;
        border-radius: .5rem;
        background: white;
        max-width: 320px;
        margin: .25rem;
        z-index: 1001 !important;
        @extend .shadow-small;

        .content{
            max-width: 89%;
        }

        overflow: hidden;
    }
    .progress-message{
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        &.progress-success{ background: #28a745; }
        &.progress-warning{ background: #ffc107; }
        &.progress-danger { background: #DC3D24; }
    }
}

.btn-main {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: #e0e0e0;
    color: rgba(0,0,0,.5);
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: .25em .25em .25em 0;
    padding: .5em .85em .5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    will-change: auto;
    -webkit-tap-highlight-color: transparent;
    font-size: .9em !important;

    &.dark { background: $black; color: white; }


    &:hover:not([class*="outline"]),
    &:focus:not([class*="outline"]){
        &.dark     { background: $black; }
    }

    &.icon-right{
        position: relative;
        padding-right: 3em;

        .icon{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            line-height: 1;
            border-radius: 0;
            text-align: center;
            -webkit-animation: none;
            animation: none;
            padding: .5em 0;
            margin: 0;
            width: 2.2em;
            background-color: rgba(0,0,0,.05);
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
            left: auto;
            right: 0;
        }
    }

    &.outline-dark {
        border: 1px solid $black;
        color: $black;

        &:hover, &:focus {
            background: var(--dark);
            color: var(--light);
        }
    }

}
[class*="outline"] { background: transparent; }

.header-main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem .75rem;
    margin: .75rem 1rem;
    border-radius: .7rem;
    width: 100%;
    max-width: 250px;

    .header-label{
        position: absolute;
        top: .85em;
        padding: .4em 1.25rem;
        font-size: .85rem;
        font-weight: bold;
        background: $red;
        color: $white;
        right: -1.2em;
        border-radius: .28rem 0 0 .28rem;

        &:after{
            position: absolute;
            content: '';
            top: 100%;
            background-color: transparent;
            border-style: solid;
            border-width: 0 1.2em 1.2em 0;
            width: 0;
            height: 0;
            border-right-color: inherit;
            left: auto;
            right: 0;
            border-style: solid;
            border-width: 1.2em 1.2em 0 0;
            border-color: transparent;
            border-top-color: $red;
        }
    }
    .header-label.inactive{
        background: #c0c1c2;
        &:after{
            border-top-color: #c0c1c2;
        }
    }
}