{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

<h1>Modification du mot de passe</h1>
<hr>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ template.confirm() }}
{{ form_end(form) }}

{% endblock %}
